.movieInfo {
	display: flex;
	gap: 2.25rem;
	padding: 1rem 2rem;
	@media all and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem 0;
	}
}

.movieInfoPoster {
	width: 100%;
	max-width: 350px;
	img {
		width: 100%;
		height: 100%;
		border-radius: 20px;
		box-shadow: 0 0 15px 2px rgba(47, 53, 66, 0.7);
	}
}

.movieInfoContent {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 1rem 0;
	width: 100%;
	.movieTitle {
		font-size: 1.75rem;
		font-weight: 700;
		line-height: 1.25;
		letter-spacing: -0.5px;
	}
	.movieVoteAverage {
		font-size: 1.1rem;
		font-weight: 500;
		line-height: 1.45;
	}
	.movieOverview {
		font-size: 1rem;
		line-height: 1.45;
		letter-spacing: -0.01px;
		word-spacing: -0.05px;
	}
	.movieHomepage {
		margin-top: 0.75rem;
		color: #ced6e0;
		font-size: 0.9rem;
		&:hover {
			text-decoration: underline;
		}
	}
}
