.nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: var(--nav-height);
	background-color: #2f3542;
	box-shadow: 0 6px 10px -2px rgba(47, 53, 66, 0.76);
}

.navList {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 1.75rem;
	width: 100%;

	li {
		font-size: 1.25rem;
		&:hover {
			color: #70a1ff;
		}
	}
}
