.nav {
	display: flex;
	align-items: center;
	height: 60px;
	background-color: #2f3542;
}

.navList {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 1.75rem;
	width: 100%;

	li {
		font-size: 1.25rem;
	}
}
